{{!-- {{#each this}}
<li class='posts__item'>
  <h2 class='posts__title'>{{this.capital}}</h2>
  <p class='posts__text'>{{this.population}}</p>
  <p class='posts__id'>id: {{this.languages}}</p>
</li>
{{/each}} --}}

{{#each this}}
  <li class='cards__item'>
    {{!-- <img src='{{urls.small}}' alt='{{alt_description}}' class='gallery-img' /> --}}
    <h2 class='cards__common'>{{this.name.common}}</h2>
    <p class='cards__population'>{{this.population}}</p>
    <p class='cards__population'>{{this.population}}</p>
    <p class='cards__languages'>id: {{this.languages}}</p>
  </li>
{{/each}}